<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Situation 4</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container" id="app">
    <div class="container-inner">

        <form id="form" @submit="add">
            <h1>상황 4</h1>

            <div>
                <label for="title">제목:</label>
                <input required v-model="title" type="text" name="title" id="title">
            </div>
            <div>
                분류:
                <label>
                    <input required type="radio" name="type" v-model="type" value="지출">지출
                </label>
                <label>
                    <input required type="radio" name="type" v-model="type" value="수입">수입
                </label>
                <label>
                    <input required type="radio" name="type" v-model="type" value="가지급">가지급
                </label>
            </div>
            <div>
                <label for="name">신청자:</label>
                <input required v-model="name" type="text" name="name" id="name">
            </div>


            <hr>


            <div>
                <label for="content">내용:</label>
                <input required v-model="content" type="text" name="content" id="content">
            </div>
            <div>
                <label for="date">날짜:</label>
                <input required v-model="date" type="date" name="date" id="date">원
            </div>
            <div>
                <label for="amount">금액:</label>
                <input required v-model="amount" type="number" name="amount" id="amount" step="10">원
            </div>
            <div v-show="type === '지출'">
                영수증:
                <label>
                    <input required type="radio" name="has_receipt" v-model="has_receipt" value="1">있음
                </label>
                <label>
                    <input required type="radio" name="has_receipt" v-model="has_receipt" value="0">없음
                </label>
            </div>
            <div class="text-center">
                <button type="button" @click="random">Random값</button>
                <button type="submit" id="submit">추가</button>
            </div>
        </form>
        <div class="list">
            <h2>내역</h2>
            <table class="js-list">
                <thead>
                <tr>
                    <th>날짜</th>
                    <th>분류</th>
                    <th>내용</th>
                    <th>금액</th>
                    <th>영수증</th>
                    <th>☕</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in list" v-cloak>
                    <td class="text-center">{{ item.date }}</td>
                    <td class="text-center">{{ item.type }}</td>
                    <td class="text-center">{{ item.content }}</td>
                    <td class="text-right">{{ item.amount }}</td>
                    <td class="text-center">{{ item.has_receipt ? '&cir;' : '&times;' }}</td>
                    <td class="text-center"><button type="button" @click="remove(item.id)">제거</button></td>
                </tr>
                </tbody>
            </table>
            <div class="text-center" v-show="list.length === 0">
                내역이 없습니다.
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/ko.js"></script>
<script src="lib/jquery-3.3.1.min.js"></script>
<script src="lib/vue.js"></script>
<script src="situation4.js"></script>
</body>
</html>