* + * {
    margin-top: .5em;
}

input[type=number] {
    text-align: right;
}

input[readonly] {
    background-color: #efefef;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
