* + * {
    margin-top: .5em;
}

input[type=number] {
    text-align: right;
}

[v-cloak] {
    display: none!important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-inner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.list {
    width: 700px;
    margin-left: 3em;
}

.amount {
    display: inline-block;
    min-width: 6em;
    border-bottom: 1px solid #eee;
    padding-bottom: 1px;
    text-align: right;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th {
    background-color: #eee;
}

th, td {
    padding: 5px;
    border: 1px solid #eee;
}

.media, .bd {
    overflow: hidden;
    _overflow: visible;
    zoom: 1;
}

.bd {
    margin-top: 0;
}

.media .img {
    float: left;
    margin-right: 10px;
}

.media .img img {
    display: block;
}

[v-cloak] {
    display: none!important;
}

[disabled] {
    opacity: 0.5;
}